<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
    <div class="c-navigation__container u-container">
        <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ " / " | prepend: site.baseurl }}">HOME</a>
        <a class="c-navigation__item {% if page.url == '/blog.html' %}is-active{% endif %}" href="{{ " /blog.html " | prepend: site.baseurl }}">BLOG</a>
        <a class="c-navigation__item {% if page.url == '/apklist.html' %}is-active{% endif %}" href="{{ " /apklist.html " | prepend: site.baseurl }}">LIST</a>
    </div>
</nav>